<section>
    <header>Bar Stock</header>
    <div class="clearfix" id="stockContainer">
        <div class="stockItem clearfix" data-ng-repeat="stockIngredient in sc.stockIngredients">
            <div class="stockIngredientName">{{stockIngredient.name | capitalize}}</div>
            <div class="stockIngredientQuantity"> <span style="color: white;">{{stockIngredient.quantity}}</span> <span style="font-size: 0.7em;">{{stockIngredient.unit | uppercase}}</span></div>
        </div>
    </div>
</section>
<section>
    <header>Orders</header>
    <div class="clearfix" id="itemContainer">
        <div class="item" data-ng-repeat="item in sc.items">
            <div class="itemName">{{item.name | capitalize}}</div>
            <div class="itemDetails">
                <div class="itemIngredient clearfix" data-ng-repeat="ingredient in item.ingredients">
                    <div class="itemIngredientQuantity">{{ingredient.quantity}} {{ingredient.unit}}</div>
                    <div class="itemIngredientName">{{ingredient.name | capitalize}}</div>
                </div>
                <div class="changeCounter">
                    <img src="Assets/plus.png">
                    <div class="itemCount">{{item.count}}</div>
                    <img src="Assets/minus.png">
                </div>
            </div>
        </div>
    </div>
</section>
<button type="submit">Place Order</button>
