<section>
	<header>Bar Stock</header>
	<div class="clearfix" id="stockContainer">
		<div class="stockItem clearfix" data-ng-repeat="stockIngredient in oc.stockIngredients">
			<div class="stockIngredientName">{{stockIngredient.name | capitalize}}</div>
			<div class="stockIngredientQuantity"> <span class="number"">{{stockIngredient.quantity}}</span> <span class="unit"">{{stockIngredient.unit | uppercase}}</span></div>
		</div>
	</div>
</section>
<section>
    <header>Orders</header>
	<div class="clearfix" id="itemContainer">
		<div class="item" data-ng-repeat="item in oc.items">
			<div class="itemName">{{item.name | capitalize}}</div>
			<div class="itemDetails">
				<div class="itemIngredient clearfix" data-ng-repeat="ingredient in item.ingredients">
					<div class="itemIngredientQuantity">{{ingredient.quantity}} {{ingredient.unit}}</div>
					<div class="itemIngredientName">{{ingredient.name | capitalize}}</div>
				</div>
				<div class="changeCounter noselect">
					<div class="imgContainer" data-ng-click="oc.increment($index)"><img src="Assets/plus.png" alt="Add"></div>
					<div class="itemCount">{{item.count}}</div>
					<div class="imgContainer" data-ng-click="oc.decrement($index)"><img src="Assets/minus.png" alt="Remove"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<button type="submit" data-ng-click="oc.goToSummary()">Place Order</button>
