/*==========  Still not bulletproof, because we don't have the (.eot) file  ==========*/
@font-face {
    font-family: 'Source Sans Pro Extralight';
    src: local('☺'), url('../Fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro Bold';
    src: local('☺'), url('../Fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro Regular';
    src: local('☺'), url('../Fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
}
/*==========  Mobile first method  ==========*/
*{
    margin: 0;
    padding: 0;
}
body{
    color: #C3A2DB;
    background-color: black;
    font-family: "Source Sans Pro Regular", sans-serif;
    text-align: center;
}
.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
header{
    font-family: 'Source Sans Pro Extralight', sans-serif;
    color: white;
    font-size: 79px;
}
div.stockItem{
    width: 300px;
    border-bottom: 1px solid #dab8f2;
    margin: 0 auto;
    font-size: 20px;
    text-align: left;
}
div.stockIngredientName {
    float: left;
}
div.stockIngredientQuantity {
    width: 56px;
    float: right;
}
div.item {
    box-sizing: border-box;
    width: 300px;
    margin: 16px auto;
}
div.itemName{
    background-color: #231f25;
    color: #dbb9f9;
    text-align: left;
    font-size: 24px;
    padding: 15px 30px;
}
div.itemDetails{
    background-color: #39393c;
    padding-top: 24px;
}
div.itemIngredient div{
    color: #807d89;
    padding-left: 30px;
    padding-bottom: 15px;
    text-align: left;
    float: left;
}
div.itemIngredientQuantity {
    width: 30px;
}
div.changeCounter{
    padding: 15px 0;
}
img{
    display: inline;
    vertical-align: middle;
}
div.itemCount{
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 15px;
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    color: black;
    font-size: 32px;
    font-family: "Source Sans Pro Bold";
}
button{
    background-color: #9C5AB6;
    border: 2px solid #9C5AB6;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 20px;
    width: 300px;
    cursor: pointer;
}
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    #stockContainer{
        max-width: 320px;
        margin: 0 auto;
    }
    #itemContainer{
        max-width: 320px;
        margin: 0 auto;
    }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #stockContainer{
        max-width: 768px;
    }
    div.stockItem{
        margin: 0 5.47%;
        float: left;
    }
    #itemContainer{
        max-width: 1020px;
    }
    div.item{
        margin: 20px;
        float: left;
    }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 1020px) {
    #stockContainer{
        max-width: 1020px;
    }
    div.stockItem{
        margin: 0 20px;
        float: left;
    }
    #itemContainer{
        max-width: 1020px;
    }
    div.item{
        margin: 0 20px;
        float: left;
    }
}